{% load static %}
<!-- start banner Area -->
<section class="relative about-banner">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Contact Us
				</h1>
				<p class="text-white link-nav"><a href="{% url 'index:Travelista' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'index:contact' %}"> Contact Us</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->